<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login-page</title>
</head>
<body>
<div id="app">
    用户名<input type="text" v-model="userName">
    密码<input type="text" v-model="pwd">
    <span>{{message}}</span>
    <button @click="login">登录</button>
</div>
</body>
<script src="../../plugin/jquery/jquery.min.js"></script>
<script src="../../plugin/vue/2.5.13/vue.min.js"></script>
<script src="../../bsns/common/common-application.js"></script>
<script src="../../bsns/sys/login.js"></script>
</html>