<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.njdhy.muscle.triceps.dao.DataCenterDao">

    <select id="selectAllTableName" resultType="java.lang.String">
        select name from sysobjects where xtype='u'
    </select>

    <select id="selectDataByTableName" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT * FROM ${tableName} order by id
    </select>

    <select id="selectColumns" resultType="java.lang.String" parameterType="java.lang.String">
        Select name FROM SysColumns Where id=Object_Id( #{tableName} )
    </select>

    <select id="selectNotes" resultType="java.lang.String" parameterType="java.lang.String">
        select value from sys.extended_properties where major_id = object_id ( #{tableName} );
    </select>

    <select id="selectColumnsAndNotes" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
        B.name AS column_name,
        C.value AS column_description
        FROM sys.tables A
        INNER JOIN sys.columns B ON B.object_id = A.object_id
        LEFT JOIN sys.extended_properties C ON C.major_id = B.object_id AND C.minor_id = B.column_id
        WHERE A.name =  #{tableName}
    </select>

</mapper>