<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.njdhy.muscle.triceps.dao.ScheduleJobDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="ScheduleJob" id="scheduleJobMap">
        <result property="id" column="id"/>
        <result property="jobId" column="job_id"/>
        <result property="jobName" column="job_name"/>
        <result property="jobGroup" column="job_group"/>
        <result property="jobStatus" column="job_status"/>
        <result property="cronExpression" column="cron_expression"/>
        <result property="description" column="description"/>
        <result property="isConcurrent" column="is_concurrent"/>
        <result property="springId" column="spring_id"/>
        <result property="methodName" column="method_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <!-- 根据条件查询 -->
    <select id="queryList" resultMap="scheduleJobMap" parameterType="map">
        SELECT
        *
        FROM
        sys_quartz_job q
        WHERE 1=1
        <if test="keyword!=null and keyword!=''">
        </if>
        order by q.id desc
    </select>

    <!-- 根据条件查询 -->
    <select id="queryAllSchedule" resultMap="scheduleJobMap">
        SELECT
        *
        FROM
        sys_quartz_job q
        order by q.id desc
    </select>

    <!-- 根据ID查询-->
    <select id="queryById" resultMap="scheduleJobMap" parameterType="String">
        SELECT
        *
        FROM
        sys_quartz_job
        WHERE 1 = 1
        AND id=#{id}
    </select>

    <!-- 新建-->
    <insert id="insert" useGeneratedKeys="true" parameterType="ScheduleJob" keyProperty="id">
        INSERT INTO sys_quartz_job
        (job_id,job_name, job_group, job_status, cron_expression, description, is_concurrent, spring_id, method_name,create_time,update_time)
        VALUES
        (#{jobId},#{jobName}, #{jobGroup}, #{jobStatus}, #{cronExpression}, #{description}, #{isConcurrent}, #{springId}, #{methodName},GETDATE(), GETDATE())
    </insert>

    <!-- 修改任务 -->
    <update id="update" parameterType="ScheduleJob">
        update sys_quartz_job
        <set>
            <if test="jobId!=null">
                job_id = #{jobId},
            </if>
            <if test="jobName!=null and jobName!=''">
                job_name = #{jobName},
            </if>
            <if test="jobGroup!=null and jobGroup!=''">
                job_group = #{jobGroup},
            </if>
            <if test="jobStatus!=null and jobStatus!=''">
                job_status = #{jobStatus},
            </if>
            <if test="cronExpression!=null and cronExpression!=''">
                cron_expression = #{cronExpression},
            </if>
            <if test="description!=null and description!=''">
                description = #{description},
            </if>
            <if test="isConcurrent!=null and isConcurrent!=''">
                is_concurrent = #{isConcurrent},
            </if>
            <if test="springId!=null and springId!=''">
                spring_id = #{springId},
            </if>
            <if test="methodName!=null and methodName!=''">
                method_name = #{methodName},
            </if>
            <if test="beanClass!=null and beanClass!=''">
                bean_class = #{beanClass},
            </if>
        </set>
        where id = #{id}

    </update>

    <!-- 批量删除-->
    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM
        sys_quartz_job
        WHERE 1=1
        AND id IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
