<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.njdhy.muscle.triceps.dao.StageMyXSHKDailyDao">

    <insert id="insert" parameterType="StageMyXSHKDaily" >
        insert into STAGE_MY_XSHK_daily (
                                        PROJECT_CODE,
                                        PROJECT_NAME,
                                        PD_CODE,
                                        PD_NAME,
                                        SUB_PD_CODE,
										SUB_PD_NAME,
										DATA_DATE,
										RG_CNT,
										RG_AREA,
										RG_AMT,
										QY_AMT,
										QY_CNT_BUDGET,
										QY_AREA_BUDGET,
										QY_AMT_BUDGET,
										HK_AMT_BUDGET,
										HK_AMT,
										DATA_DATE,
										etl_time)
										values(
										#{projectCode},
									    #{projectName},
									    #{pdCode},
                                        #{pdName},
                                        #{subpdCode},
                                        #{subpdName},
                                        #{dataDate},
                                        #{rgCnt},
                                        #{rgArea},
                                        #{rgAmt},
                                        #{qyAmt},
                                        #{qyCntBudget},
                                        #{qyAreaBudget},
                                        #{qyAmtBudget},
                                        #{hkAmtBudget},
                                        #{hkAmt},
                                        #{dataDate},
										getdate()
										)
    </insert>


</mapper>